<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Tem um evento submit quando eu enviar eu vou executar
  O metodo abaixo de signupUser e o $event é para previnir da pagina ser enviada

    E no form tenho que colocar o formGroup dizendo qual é a variavel
    Lá do signup.ts


  O Bidding aqui não é feito como se fosse o ngModel não
  É colocando no lugar do atributo name o formControlName-->
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <!-- Tags de validação, caso ocorra error -->
    <!-- Abrir um paragrafo e coloquei uma diretiva do angular 
    Que é a *ngIf é o IF, dizendo que se alguma coisa for verdade ele mostra o valor invalido
    Estou testando se o objeto do controlador o formGroup acessando o campo do objeto
    no caso é o ['nome'] DIRTY = SUJO, ou seja estou testando se esse campo do formulário
    já foi mexido. 
    E se o no campo nome só vai dar error, se algum dos validators estourar 
    Que é justamente a validação de cada campo 
    Para que a mensagem fique vermelha, eu criei um atributo chamado danger
    Lá no signup.scss e basta eu utilizar o class="danger" aqui
    SE O CAMPO DO FORMULÁRIO JÁ FOI MEXIDO E SE DEU ALGUM ERRO DE VALIDATOR NO CAMPO NOME -->
    <p class="danger" *ngIf="formGroup.controls['nome'].dirty && formGroup.controls['nome'].errors" margin-left>Valor invalido</p>
    <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors" margin-left>Valor invalido</p>
      <ion-list radio-group formControlName="tipo">
        <ion-list-header>
          Tipo de cliente
        </ion-list-header>
        <ion-item>
          <ion-label>Pessoa fisica</ion-label>
          <ion-radio checked="true" value="1"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Pessoa juridica</ion-label>
            <ion-radio checked="true" value="2"></ion-radio>
          </ion-item>
      </ion-list>

      <ion-item>
        <ion-label stacked>CPF ou CNPJ</ion-label>
        <ion-input formControlName="cpfOuCnpj" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['cpfOuCnpj'].dirty && formGroup.controls['cpfOuCnpj'].errors" margin-left>Valor invalido</p>
      <ion-item>
          <ion-label stacked>Senha*</ion-label>
          <ion-input formControlName="senha" type="password"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['senha'].dirty && formGroup.controls['senha'].errors" margin-left>Valor invalido</p>
      <ion-item>
          <ion-label stacked>Longradouro</ion-label>
          <ion-input formControlName="longadouro" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['longadouro'].dirty && formGroup.controls['longadouro'].errors" margin-left>Valor invalido</p>
      <ion-item>
          <ion-label stacked>Numero*</ion-label>
          <ion-input formControlName="numero" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['numero'].dirty && formGroup.controls['numero'].errors" margin-left>Valor invalido</p>
      <ion-item>
          <ion-label stacked>Complemento</ion-label>
          <ion-input formControlName="complemento" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Bairro</ion-label>
          <ion-input formControlName="bairro" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>CEP*</ion-label>
          <ion-input formControlName="cep" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['cep'].dirty && formGroup.controls['cep'].errors" margin-left>Valor invalido</p>
      <ion-item>
          <ion-label stacked>Telefone 1</ion-label>
          <ion-input formControlName="telefone1" type="text"></ion-input>
      </ion-item>
      <p class="danger" *ngIf="formGroup.controls['telefone1'].dirty && formGroup.controls['telefone1'].errors" margin-left>Valor invalido</p>
      <ion-item>
          <ion-label stacked>Telefone 2</ion-label>
          <ion-input formControlName="telefone2" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Telefone 3</ion-label>
          <ion-input formControlName="telefone3" type="text"></ion-input>
      </ion-item>
     <ion-item>
      <ion-label stacked>Estado*</ion-label>
      <!-- Esse ionChange faz com que toda vez que o select abaixo for
      chamado, eu vou chamar o metodo updateCidades()
      que chama lá no backend para buscar as cidades do estado 
     que estiver selecionado -->
      <ion-select formControlName="estadoId" (ionChange)="updateCidades()">
        <!-- Povoando dinamicamente de acordo com o banco.
        coloco a diretiva *ngFor = 
        let estado da lista de estados (PUXANDO A VARIAVEL ESTADO) 
        Pegar a primeira referência que é o primeiro estado que está na lista 
        AGORA VOU DEFINIR QUEM É O VALOR DO OPTION 
        UTILIZANDO O BIDDING  DE ATRIBUTO COM O COLCHETES [value]
        E definir que o valor desse cara vai ser o estado.id
        E PARA FORÇAR O PRIMEIRO ESTADO A SER SELECIONADO LISTA
        VOU COLOCAR O [selected] = F que no caso é o primeiro estado seja selecionado na lista 
          
       

        O estado.ID vai ser o valor do option
         E O QUE VAI APARECER NA TELA VAI SER O NOME
        E ASSIM EU COLOCO DENTRO DO OPTIONS
      
      -->
        <ion-option *ngFor="let estado of estados; firts as f" [value]="estado.id" [selected]="f" >{{ estado.nome }}</ion-option>
        
      </ion-select>
     </ion-item>
     <ion-item>
        <ion-label stacked>Cidade*</ion-label>
        <ion-select formControlName="cidadeId">
          <!-- Aqui eu não preciso do FIRTS, pois não vou fazer questão
          Que ela esteja selecionada primeira quando eu mudar de estado
          E apago tbm o select -->
            <ion-option *ngFor="let cidade of cidades" [value]="cidade.id" >{{ cidade.nome }}</ion-option>
        </ion-select>
     </ion-item>
     <!-- Bloquear o formulário se ainda não estiver válido 
    EX: Escolheu o estado mas não escolheu a cidade
    Vou atribuir o BIDDING [disabled] passando o formGroup.invalid
    ou seja o botão vai estar desabilitado caso o formGroup for invalido
    Ou seja se qualquer uma das validações falhar -->
     <button ion-button block type="submit" [disabled]="formGroup.invalid">Criar conta</button> 
  </form>

</ion-content>
